.txt{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10 px;
	color : #000000;
}

.txtFestivo{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10 px;
	color : #8C0000;
}

.titulo{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10 px;
	color : #FFFFFF;
}
